@import "tailwindcss";

@theme {
  --color-forest-green: #1a3a2e;
  --color-dark-green: #0f2419;

  --font-family-display: "Space Grotesk", sans-serif;
  --font-family-sans: "Inter", sans-serif;
  --font-family-heading: "Unbounded", cursive;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply font-sans antialiased;
  }
}
